html {
    scroll-behavior: smooth;
    scroll-padding-top: 150px;
}
/* @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.container {
    animation: fadeIn 1s ease-in-out;
} */

*{
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}
body{
    color: white;
    background-color:black;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background: rgba(0, 0, 0, 0.3); 
    backdrop-filter: blur(10px);
    z-index: 1;
}
.navigation{
    padding: 50px;
    width: 500px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}
.nav ul{
    display: flex;
}
.nav ul li{
    list-style: none;
    padding: 0 25px;
}
.nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}
.nav ul li a:hover{
    text-decoration: underline;
    color: rgb(2, 255, 2);
}
.hire_btn{
    padding-right:25px;
}
.hire{
    width: 150px;
    height: 45px;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    background-color: lime;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.hire:hover{
    background-color: black;
    color: lime;
    box-shadow: 0px 0px 20px lime;
    border:2px solid #8AFF1E;
    transform: translate(0,-10px);
}
.display{
    padding-top: 250px;
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 40px;
    padding-bottom: 100px;
}
.description{
    text-align: center;
}
.name{
    color: white;
    font-size: 3.5rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: 15px; 
    letter-spacing: 2.5px;
    text-shadow: 3px 3px 10px rgba(138, 255, 30, 0.8);
}
.role{
    color: #8AFF1E;
    font-size :2rem;
    text-align: left;
    margin-bottom: 20px;
    font-weight: bold; 
}
.role span{
    background: linear-gradient(to right, #8AFF1E 0%, #2FCFC8 71%); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip:text; 
}

.details{
    color: white;
    font-size: 1rem;
    text-align: left;
}
.img-display img{
    width: 320px; 
    height: 320px;
    border-radius: 50%; 
    background-color: transparent;
    border: 2px solid #8AFF1E;
    transition: transform 0.3s ease-in-out;
}
.img-display img:hover {
    transform: scale(1.07);
    cursor: pointer;
    box-shadow: 0px 0px 30px #8AFF1E;
}
      /* for all heding */
.heading{
    margin: 50px auto;
    width:10%;
    border: 2px solid #8AFF1E;
    border-radius: 12px;
    text-align: center;
    font-size: 2rem;
}


                    /* about me */
#About-Me{
    margin: 60px;
}
.about-me{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    padding-bottom: 70px;
} 
.about-img img{
    width: 300px;
    height: 300px;
    background-color: #212121;
    border-radius: 50%;
}        
.about-img img:hover {
    transform: scale(1.07);
    cursor: pointer;
    box-shadow: 0px 0px 30px #8AFF1E;
}
.about_description p{
    font-weight: bold;
    font-size: 1.07rem;
} 

                    /* skills */
#Skills{
    margin: 120px;
}
.skills {
    display: flex;
    justify-content: center;
    align-items: center;
}   
.skills-container {
display: grid;
grid-template-columns: repeat(3, 1fr);  
justify-items: center;
}          
.skill-card {
display: flex;
justify-content: center;
align-items: center;
width: 190px;
height: 100px;
border: 4px solid #262626;
border-radius: 10px;
padding: 60px;
background-color: black;
margin: 10px 40px;
}          
.skill-card img {
width: 80pxpx;
height: 80px;
}    
@keyframes anima {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(-5px, 5px) rotate(5deg);
    }
}

.skill-card:hover {
    animation-name: anima;
    animation-duration: 0.3s; 
    box-shadow: 0 0 20px #8AFF1E;
    animation-timing-function: ease-in-out; 
    animation-fill-mode: forwards; 
}


/*   projects */
#Projects{
    margin-top: 190px;
}
.projects{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 40px;
}
.project{
    text-align: center;
}
.num{
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
    color: #8AFF1E;
    margin-bottom: 10px;
}
.card{
    margin-top: 10px;
    width: 350px;
    height: 400px;
    background-color: #252521;
    color: white;
    border-radius: 15px;
    text-align: center;
    padding: 30px;
    border: none;
    cursor: pointer;
}
.card:hover {
    transform: translateY(-10px);
    box-shadow:inset 0px 0px 10px #8AFF1E;
    transition: transform 0.3s ease-in-out;
}
.card h1{
    padding: 10px;
}
.card p {
    font-size: 1rem;
    color: #fff;
    margin-bottom: 20px;
    padding: 10px;
    background-color: transparent; 
}
.card img{
    max-width: 200px;
    height: 150px;
}
.but-project {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.but-project .btn button{
    width: 120px;
    padding: 8px 12px;
    border: none;
    background-color: #8AFF1E;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}
.but-project .btn button:hover {
    border: solid;
    border-radius: 5px; 
    border: none;
    box-shadow:inset 0px 0px 15px black;
}
