*{
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}
body{
    color: white;
    background-color:black;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: rgba(0, 0, 0, 0.3); 
    backdrop-filter: blur(10px);
}
.navigation{
    backdrop-filter: blur(10px);
    padding: 50px;
    width: 500px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}
.nav ul{
    display: flex;
}
.nav ul li{
    list-style: none;
    padding: 0 25px;
}
.nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}
.nav ul li a:hover{
    text-decoration: underline;
    color: rgb(2, 255, 2);
}
.hire_btn{
    padding-right:25px;
}
.hire{
    width: 150px;
    height: 45px;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    background-color: lime;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.hire:hover{
    background-color: black;
    color: lime;
    box-shadow: 0px 0px 20px lime;
    border:2px solid #8AFF1E;
    transform: translate(0,-10px);
}
.display{
    margin-top: 250px;
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 50px;
}
.description{
    text-align: center;
}
.name{
    color: white;
    font-size: 3rem;
    text-align: left;
    margin-bottom: 20px; 
}
.detail{
    color: white;
    font-size :2rem;
    text-align: left;
    margin-bottom: 20px; 
}
.detail span{
    background: linear-gradient(to right, #8AFF1E 0%, #2FCFC8 71%); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip:text; 
}

.details{
    color: white;
    font-size: 1rem;
    text-align: left;
}
.img-display img{
    width: 300px; 
    height: 300px;
    border-radius: 10px; 
    background-color: #8AFF1E;
}
                    /* about me */


                    /* skills */
.skills {
    display: flex;
    justify-content: center;
    align-items: center;
}   
.heading{
    text-align:center;
    margin-bottom: 50px;
    padding-top: 50px;
    font-size: 2rem;
}
.skills-container {
display: grid;
grid-template-columns: repeat(3, 1fr);  
justify-items: center;
}          
.skill-card {
display: flex;
justify-content: center;
align-items: center;
width: 190px;
height: 100px;
border: 4px solid #262626;
border-radius: 10px;
padding: 60px;
background-color: black;
margin: 10px 40px;
}          
.skill-card img {
width: 200px;
height: auto;
}    
@keyframes anim {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(-5px, 5px) rotate(5deg);
    }
}

.skill-card:hover {
    animation-name: anim;
    animation-duration: 0.3s; 
    box-shadow: 0 0 20px #8AFF1E;
    animation-timing-function: ease-in-out; 
    animation-fill-mode: forwards; 
}


/*   projects */

.projects{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 40px;
}
.project{
    text-align: center;
}
.num{
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
    color: #8AFF1E;
    margin-bottom: 10px;
}
.card{
    margin-top: 10px;
    width: 350px;
    height: 400px;
    background-color: #252521;
    color: white;
    border-radius: 15px;
    text-align: center;
    padding: 30px;
    border: none;
    transition: transform 0.3s ease-in-out;
}
.card:hover {
    transform: translateY(-10px);
    box-shadow:inset 0px 0px 10px #8AFF1E;
}
.card h1{
    padding: 10px;
}
.card p {
    font-size: 1rem;
    color: #fff;
    margin-bottom: 20px;
    padding: 10px;
    background-color: transparent; 
}
.card img{
    max-width: 200px;
    height: 150px;
}
.but-project {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.but-project .btn button{
    width: 120px;
    padding: 8px 12px;
    border: none;
    background-color: #8AFF1E;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}
.but-project .btn button:hover {
    border: solid;
    border-radius: 5px; 
    border: none;
    box-shadow:inset 0px 0px 15px black;
}
